<html>
    <head>
        <meta charset="UTF-8">
        <title>Ben's Site</title>
        <script src="{{ url_for('static', filename ='firstscript.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename ='homepage.css') }}" />
    </head>
    <body>

        <div id="topblock">
            <div id="pfp">
                <img id="image" src="{{ url_for('static', filename ='selfportrait.jpg') }}" alt="Picture of Ben Resnick"/>

            </div>
            <div id="header">
                <div id="name"> {{name}} </div>
                <div id="bio">Bringing insights from science and analytics to engineer solutions for the finance and blockchain industries</div>
            </div>

            <div id="resume">
                <a download="{{ url_for('static', filename ='bensresume.pdf') }}" href="{{ url_for('static', filename ='bensresume.pdf') }}">

                    <img src="{{ url_for('static', filename ='resume.png') }}" id="resumeimg">
                </a>
            </div>
        </div>
        <div id="bottomblock">
            <div id="projectwrapper">
                Projects
                <div class="project CRYPTOPROJECT??" id="project1">Coming soon...</div>
                <div class="project" id="project2">Coming soon...</div>
            </div>
        </div>

    </body>
</html>
